body{
    margin: 0;
    padding: 0;
}

#form-one{
    display: none;
}
#info-from{
    display: none;
}
#problem-form{
    display: none;
}
.result{
    display: none;
}
.tank-you-area{
    display: none;
}

.main {
	width: 690px;
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;;
}

.form-group{
    padding: 20px;
}

.questions{
    padding-bottom: 100px;
}

.questions h3{
    color: orangered;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 20px;
}

#pet-name{
    width: 510px;
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid orangered;
    font-size: 17px;
    color:  #ff944d;
}

#qnb1, #qnb2{
    border: none;
    width: 100px;
    margin-left: 15px;
    height: 40px;
    background-image: url('../images/button.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

#pet-breed, #pet-age, #pet-weight{
    width: 670px;
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid orangered;
    font-size: 17px;
    color:  #ff944d;
}

#qnb2, #qnb3, #back-home, #rsbtn{
    border: none;
    width: 100px;
    margin-left: 15px;
    height: 40px;
    background-image: url('../images/button.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}

#problem{
    background-size: 15px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}


span{
    color: orange;
    font-weight: bold;
    font-size: 18px;
}

#thanks{
    width: 450px;
    margin-top: -10;
    margin-left: 106px;
    display: block;
}

.result{
    margin-top: 30px;
}

hr{
    border: orange;
}

#email {
    width: 570px;
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid orangered;
    font-size: 17px;
    color:  #ff944d;
}
strong{
    color: orange;
}

table{
    background-color: orangered;
    padding: 10px;
    width: 650px;
    margin: auto;
    font-size: 20px;
    line-height: 25px;
    border: 1px solid orangered;
    color: white;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.email-area h3{
    color: orangered;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 20px;
    width: 650px;
    margin-left: 25px;
}

#message{
    width: 560px;
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid orangered;
    font-size: 17px;
    color:  #ff944d;
    margin-top: 10px;
}


.recd{
    width: 650px;
    min-height: 200px;
}

.recd-separator {
	width: 690px;
	background-color: orangered;
	padding: 20px;
	margin-top: 10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.recd img{
    width: 500px;
    margin: auto;
    display: block;
}

#solution{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
